<!doctype html>
<html>
<head>
<title>Our Simple HTML Page </title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body style="background-color: aqua;">

    <h1> Super Simple Microservice Application </h1>


    <h3> Your Random Quote Generator </h3>

    <a href="{{ url_for ('get_quote') }}">
    <button type="button">Get New Quote</button>
    </a>



    {% if quote %}
        <div>
        <p> Today's quote of the day is as follows: </p>
            <br> <br>
            <p> <b> {{ by }} </b></p>
            <p style="font-family:Gothic; font-weight: bolder; font-size: 20px"> 
                {{ quote }}
            </p>
        </div>

    {% endif %}

    <h3> Your Weather Forecast </h3>

    <a href="{{ url_for ('get_weather_today') }}">
    <button type="button"> Today </button>
    </a>

    <a href="{{ url_for ('get_weather_tomorrow') }}">
    <button type="button"> Tomorrow's Forecast </button>
    </a>


    {% if weather %}
    <div>
    <p> The weather for {{ day }} is as follows: </p>
    <table>
        <tr>
          <th>Temperature</th>
          <th>Precipitation</th>
          <th>Wind</th>
        </tr>
        <tr>
          <td> {{ weather.Temperature }} </td>
          <td> {{ weather.Precipitation }} </td>
          <td> {{ weather.Wind }} </td>
        </tr>
      </table>
    </div>

    <h2> {{ weather.comment }} </h2>

    {% endif %}
</body>
</html>




